.calendar {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.calendar th, .calendar td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
.event {
    margin-top: 5px;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer; /* 마우스 커서를 포인터로 변경하여 클릭 가능한 상태로 만듦 */
}

.event-lightblue { background-color: lightblue; }
.event-lightgreen { background-color: lightgreen; }
.event-lightcoral { background-color: lightcoral; }
.event-lightsalmon {background-color: lightsalmon; }
.event-lightseagreen { background-color: lightseagreen; }
.event-lightgray { background-color: lightgray; }

/* 모달 스타일 */
.modal {
    display: none; /* 초기에는 모달 숨김 */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: left;
    font-size: 28px;
    font-weight: bold;
}

.fa-pencil {
    float: right;
}


.color-picker {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.color-picker div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.calendar th, .calendar td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 14.28%; /* Ensure each day cell takes equal width */
}

.calendar-container {
    border: 1px solid #ddd;
    padding: 10px;
    max-width: 800px;
    margin: 0 auto;
    width: 500px;
    height: 400px;
}
.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.calendar-header h3 {
    margin: 0;
}
.calendar-header i {
    cursor: pointer;
    font-size: 1.5em;
}
.fa-add {
    float: right;
}