@font-face {
  font-family: 'NEXON Lv2 Gothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);


body {
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  margin: 0;
  padding: 20px;
  background: #f2efeb;
}

.container {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  margin: 10px;
}

#weather-from{
  display: flex;
  justify-content: left;
  margin: 25px;
  margin-left: 85px;
}

.form-container {
  width: 810px;
}

.map-container {
  width: 90%; /* 지도 컨테이너의 너비 */
  height: 610px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px; /* 오른쪽 마진 추가 */
}

.info-container {
  width: 10%; /* 정보 폼 컨테이너의 너비 */
}

.info-container form {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.info-container h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.info-container label {
  display: block;
  margin-bottom: 5px;
}

.info-container select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

#total-stations,
#total-MetroTime {
  font-weight: bold;
}

#infomationMetro {
  margin-top: 10px;
  /* border-top: 1px solid #ddd;  이 줄을 삭제하여 추가된 선 제거 */
  padding-top: 10px;
}

a {
  display: block;
  margin-top: 20px;
}

/* 회색 선을 추가하는 클래스 */
.section-header {
  border-bottom: 1px solid gray;
  padding-bottom: 5px;
}

h1 {
  font-family: 'NEXON Lv2 Gothic OTF', 'Roboto', sans-serif;
  color: #181A33;
}


.weather-info strong {
  margin: 10px;
}

#back-home{
  margin-left: 85px;
}