<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workwave.mapper.boardMapper.BoardMapper">

    <select id="findAll" resultType="board">
        select
        board_id,
        board_title,
        user_id,
        board_nickName,
        board_created_at,
        reply_count,
        view_count,
        likes,
        dislikes
        from board
        <if test="type == 'tc'">
            WHERE board_title LIKE CONCAT('%', #{keyword}, '%')
            OR board_content LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'id'">
            WHERE user_id = #{keyword}
        </if>
        ORDER BY board_created_at DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <insert id="save">
        INSERT INTO board (
        user_id,
        board_title,
        board_nickName,
        board_content,
        board_password
        )
        VALUES (
        #{userId},
        #{boardTitle},
        #{boardNickname},
        #{boardContent},
        #{boardPassword}
        )
    </insert>

    <select id="findOne" resultType="board">
        select
        board_id,
        board_title,
        board_content,
        board_nickName,
        board_password,
        user_id,
        view_count,
        likes,
        dislikes,
        board_created_at,
        board_updated_at
        from board
        where board_id = #{boardId}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM board
        <if test="type == 'tc'">
            WHERE board_title LIKE CONCAT('%', #{keyword}, '%')
            OR board_content LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <!--게시물 수정, 삭제 시 비밀번호, 관리자 확인 후 처리해야함-->
    <delete id="delete">
        DELETE FROM board
        WHERE board_id = #{boardId}
    </delete>

    <update id="update">
        UPDATE board
        SET board_content = #{boardContent},
        board_updated_at = #{boardUpdatedAt}
        WHERE board_id = #{boardId}
    </update>

    <update id="updateCount">
        UPDATE board b
        SET b.reply_count = (
        SELECT COUNT(*)
        FROM reply r
        WHERE b.board_id = r.board_id
        );
    </update>

    <update id="updateViewCount">
        UPDATE board
        SET view_count = view_count + 1
        WHERE board_id = #{boardId}
    </update>

    <update id="upLikeCount">
        UPDATE board
        SET likes = likes + 1
        WHERE board_id = #{boardId}
    </update>

    <update id="upDislikeCount">
        UPDATE board
        SET dislikes = dislikes + 1
        WHERE board_id = #{boardId}
    </update>

</mapper>
