<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workwave.mapper.ColorIndexMapper">

    <!-- Insert query for saving color -->
    <insert id="saveColor" parameterType="java.lang.String">
        INSERT INTO colorIndex (color_name)
        VALUES (#{colorName})
    </insert>

    <!-- Select query to retrieve color ID by color name -->
    <select id="getColorIdByName" parameterType="java.lang.String" resultType="java.lang.long">
        SELECT color_index_id
        FROM colorIndex
        WHERE color_name = #{colorName}
    </select>

</mapper>
