<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workwave.mapper.traffic.TrafficMapper">
    <insert id="save" >
        INSERT INTO traffic
        (user_id , arrival, departure, station, need_Time , regDateTime)
        VALUES
        (#{userId}, #{arrival}, #{departure}, #{station}, #{needTime} , #{regDateTime})
    </insert>

    <select id="findAll" resultType="com.workwave.dto.traffic.request.totalTrafficInfoDto">
        SELECT * FROM traffic
        WHERE user_id=#{userId}
        ORDER BY regDateTime desc
        LIMIT #{pageStart} , #{amount}
    </select>

    <select id="count" resultType="int">
        SELECT COUNT(*)
        FROM traffic
        WHERE user_id=#{userId}
    </select>

</mapper>

