<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workwave.mapper.UserMapper">
    <insert id="save">
        Insert into users
        (account, employee_id, user_position, password, user_name,
        user_email, user_access_level,profile_img,user_created_at,department_id)
        Values
        (#{account},#{employeeId},#{userPosition},#{password},#{userName},
        #{userEmail},"USER",#{profileImage},#{userCreateAt},#{departmentId})
    </insert>
    <select id="findDepartmentAll" resultType="com.workwave.dto.DepartmentNameDto">
        SELECT * FROM Department;
    </select>

<!--
-->
    <select id="findOne" resultType="user">
        SELECT
        account
        , password
        , user_name
        , user_access_level
        , profile_img
        FROM Users
        WHERE account = #{account}
    </select>

    <select id="existsById" resultType="boolean">
        SELECT
        COUNT(*)
        FROM Users
        <if test="type == 'account'"> WHERE account = #{keyword}</if>
        <if test="type == 'email'"> WHERE user_email = #{keyword}</if>
    </select>

    <update id ="updateAutoLogin">
        UPDATE Users
        SET session_id = #{sessionId}, LIMIT_TIME = #{limitTime}
        WHERE ACCOUNT = #{account}
    </update>
    <select id="findMemberBySessionId" resultType="user">
        SELECT
        ACCOUNT, user_NAME, user_EMAIL, User_Access_level, LIMIT_TIME, profile_img
        FROM Users
        WHERE SESSION_ID = #{sessionId}
    </select>
</mapper>
