<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workwave.mapper.UserMapper">
    <insert id="save">
        Insert into users
        (account, employee_id, user_position, password, user_name,
        user_email, user_access_level,profile_img,user_created_at,department_id)
        Values
        (#{account},#{employeeId},#{userPosition},#{password},#{userName},
        #{userEmail},"USER",#{profileImage},#{userCreateAt},#{departmentId})
    </insert>
    <select id="findDepartmentAll" resultType="com.workwave.dto.DepartmentNameDto">
        SELECT * FROM Department;
    </select>

</mapper>
