<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.workwave.entity.board.Board" alias="board"/>
        <typeAlias type="com.workwave.entity.user.User" alias="user"/>

<!--        calendar, todoList dto class -->
        <typeAlias alias="calendarsDto" type="com.workwave.dto.schedule_dto.request.CalendarsDto"/>
        <typeAlias alias="allMyCalendarEventDto" type="com.workwave.dto.schedule_dto.request.AllMyCalendarEventDto"/>
        <typeAlias alias="teamCalendarEventDto" type="com.workwave.dto.schedule_dto.request.AllMyTeamCalendarEventDto"/>
<!--        todolist class-->
        <typeAlias alias="AllMyTodoListDto" type="com.workwave.dto.schedule_dto.request.AllMyTodoListDto"/>
        <typeAlias alias="AllMyTeamTodoListDto" type="com.workwave.dto.schedule_dto.request.AllMyTeamTodoListDto"/>

        <typeAlias type="com.workwave.entity.board.Reply" alias="reply"/>
        <typeAlias type="com.workwave.entity.board.SubReply" alias="subReply"/>

        <typeAlias type="com.workwave.entity.User" alias="user"/>


        <typeAlias type="com.workwave.entity.trrafic.Traffic" alias="traffic"/>




<!--        calendar entity class -->
        <typeAlias type="com.workwave.entity.schedule.ColorIndex" alias="colorIndex"/>
        <typeAlias type="com.workwave.entity.schedule.Calendar" alias="calendar"/>
        <typeAlias type="com.workwave.entity.schedule.TeamCalendar" alias="teamCalendar"/>
        <typeAlias type="com.workwave.entity.schedule.CalendarEvent" alias="calendarEvent"/>
        <typeAlias type="com.workwave.entity.schedule.TodoList" alias="todoList"/>
        <typeAlias type="com.workwave.entity.schedule.TeamTodoList" alias="teamTodoList"/>
        <typeAlias type="com.workwave.entity.schedule.TodoListEvent" alias="todoListEvent"/>
    </typeAliases>

    <mappers>
        <mapper resource="mappers/BoardMapper.xml"/>

        <mapper resource="mappers/UserMapper.xml"/>

<!--        schedule mapper-->
        <mapper resource="mappers/scheduleMapper/CalendarMapper.xml"/>
        <mapper resource="mappers/scheduleMapper/ColorIndexMapper.xml"/>
        <mapper resource="mappers/scheduleMapper/TodoListMapper.xml"/>


        <mapper resource="mappers/ReplyMapper.xml"/>
        <!--        <mapper resource="mappers/PersonMapper.xml"/>-->

        <mapper resource="mappers/UserMapper.xml"/>

        <mapper resource="mappers/trafficMapper.xml"/>


        <!--        <mapper resource="mappers/MemoMapper.xml"/>-->

        <mapper resource="mappers/LunchMateBoardMapper.xml"/>
    </mappers>
</configuration>

