<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.workwave.entity.board.Board" alias="board"/>
        <typeAlias type="com.workwave.entity.user.User" alias="user"/>

<!--        calendar, todoList-->
        <typeAlias alias="CalendarDTO" type="com.workwave.dto.scheduleDTO.request.CalendarDto"/>
        <typeAlias alias="CalendarEventDTO" type="com.workwave.dto.scheduleDTO.request.CalendarEventDto"/>
        <typeAlias alias="TeamCalendarEventDTO" type="com.workwave.dto.scheduleDTO.request.TeamCalendarEventDto"/>


        <typeAlias type="com.workwave.entity.schedule.ColorIndex" alias="colorIndex"/>
        <typeAlias type="com.workwave.entity.schedule.Calendar" alias="calendar"/>
        <typeAlias type="com.workwave.entity.schedule.TeamCalendar" alias="teamCalendar"/>
        <typeAlias type="com.workwave.entity.schedule.CalendarEvent" alias="calendarEvent"/>
        <typeAlias type="com.workwave.entity.schedule.TodoList" alias="todoList"/>
        <typeAlias type="com.workwave.entity.schedule.TeamTodoList" alias="teamTodoList"/>
        <typeAlias type="com.workwave.entity.schedule.TodoListEvent" alias="todoListEvent"/>
    </typeAliases>

    <mappers>
        <mapper resource="mappers/BoardMapper.xml"/>
        <mapper resource="mappers/UserMapper.xml"/>
<!--        schedule mapper-->
        <mapper resource="mappers/scheduleMapper/CalendarMapper.xml"/>
        <mapper resource="mappers/scheduleMapper/ColorIndexMapper.xml"/>
        <mapper resource="mappers/scheduleMapper/TodoListMapper.xml"/>

    </mappers>

</configuration>
