<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workwave.mapper.scheduleMapper.CalendarMapper">
    <insert id="save" parameterType="com.workwave.entity.schedule.Calendar">
        INSERT INTO calendar (
                              event_title,
                              event_description,
                              event_date,
                              color_index_id,
                              team_todo_id,
                              notice_id,
                              department_id,
                              user_id,
                              todo_id
        )
        VALUES (
                #{eventTitle},
                #{eventDescription},
                #{eventDate},
                #{colorIndexId},
                #{teamTodoId},
                #{noticeId},
                #{departmentId},
                #{userId},
                #{todoId}
               )
    </insert>
</mapper>
