<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workwave.mapper.scheduleMapper.CalendarMapper">
    <insert id="insertCalendar">
        INSERT INTO calendar (
                              event_title,
                              event_description,
                              event_date,
                              color_index_id,
                              team_todo_id,
                              notice_id,
                              department_id,
                              user_id,
                              todo_id
        )
        VALUES (
                #{eventTitle},
                #{eventDescription},
                #{eventDate},
                #{colorIndexId},
                #{teamTodoId},
                #{noticeId},
                #{departmentId},
                #{userId},
                #{todoId}
               )
    </insert>

<!--    캘린더의 일정 조회-->
    <select id="getAllCalendars" resultType="calendar">
        SELECT * FROM calendar;
    </select>
</mapper>
