<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.workwave.mapper.scheduleMapper.TodoListMapper">
    <!-- ResultMap for TodoList -->
    <resultMap id="TodoListResultMap" type="com.workwave.dto.schedule_dto.request.AllMyTodoListDto">
        <id property="todoId" column="todo_id"/>
        <result property="todoContent" column="todo_content"/>
        <result property="todoStatus" column="todo_status"/>
        <result property="todoCreateAt" column="todo_createAt"/>
        <result property="todoUpdateAt" column="todo_updateAt"/>
        <result property="colorIndexId" column="color_index_id"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <!-- 개인 투두리스트 쿼리 맵핑 -->
    <select id="findAll" resultType="com.workwave.entity.schedule.TodoList">
        SELECT * FROM TodoList
    </select>

    <select id="findByTodoId" parameterType="int" resultType="com.workwave.entity.schedule.TodoList">
        SELECT * FROM TodoList WHERE todo_id = #{todoId}
    </select>

    <select id="findByUserId" parameterType="String" resultType="com.workwave.entity.schedule.TodoList">
        SELECT * FROM TodoList WHERE user_id = #{userId}
        ORDER BY
            todo_status DESC,
            todo_createAt ASC;
    </select>

    <insert id="insertPersonalTodo" parameterType="com.workwave.entity.schedule.TodoList">
        INSERT INTO TodoList (todo_content, todo_status, todo_createAt, todo_updateAt, color_index_id, user_id)
        VALUES (#{todoContent}, #{todoStatus}, #{todoCreateAt}, #{todoUpdateAt}, #{colorIndexId}, #{userId})
    </insert>

    <update id="updatePersonalTodo" parameterType="com.workwave.entity.schedule.TodoList">
    UPDATE TodoList
    SET todo_content = #{todoContent},
        todo_status = #{todoStatus},
        todo_updateAt = #{todoUpdateAt}
    WHERE todo_id = #{todoId}
</update>

    <delete id="deletePersonalTodo" parameterType="int">
        DELETE FROM TodoList WHERE todo_id = #{todoId}
    </delete>

    <!-- 팀 투두리스트 쿼리 맵핑 -->

    <select id="findAllTeamTodos" resultType="com.workwave.entity.schedule.TeamTodoList">
        SELECT * FROM TeamTodoList
    </select>

    <select id="findTeamTodoById" parameterType="int" resultType="com.workwave.entity.schedule.TeamTodoList">
        SELECT * FROM TeamTodoList WHERE team_todo_id = #{teamTodoId}
    </select>

    <select id="findTeamTodosByDepartmentId" parameterType="String" resultType="com.workwave.entity.schedule.TeamTodoList">
        SELECT * FROM TeamTodoList WHERE department_id = #{departmentId}
        ORDER BY
            team_todo_status DESC,
            team_todo_createAt ASC;
    </select>

    <insert id="insertTeamTodo" parameterType="com.workwave.entity.schedule.TeamTodoList">
        INSERT INTO TeamTodoList (team_todo_content, team_todo_status, team_todo_createAt, team_todo_updateAt, color_index_id, user_id, department_id)
        VALUES (#{teamTodoContent}, #{teamTodoStatus}, #{teamTodoCreateAt}, #{teamTodoUpdateAt}, #{colorIndexId}, #{userId}, #{departmentId})
    </insert>

    <update id="updateTeamTodo" parameterType="com.workwave.entity.schedule.TeamTodoList">
        UPDATE TeamTodoList
        SET team_todo_content = #{teamTodoContent},
            team_todo_status = #{teamTodoStatus},
            team_todo_createAt = #{teamTodoCreateAt},
            team_todo_updateAt = #{teamTodoUpdateAt},
            color_index_id = #{colorIndexId}
        WHERE team_todo_id = #{teamTodoId}
    </update>

    <delete id="deleteTeamTodo" parameterType="int">
        DELETE FROM TeamTodoList WHERE team_todo_id = #{teamTodoId}
    </delete>



</mapper>